<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./departure-checklist.css" />
    <script type="module" src="./departure-checklist.js"></script>
    <title>출국 전 체크리스트</title>
  </head>
  <body>
    <section class="checklist">
      <div class="checklist__header">
        <h3 class="checklist__title">출국 전 체크리스트</h3>
        <div class="checklist__show-all">
          <a
            href="#"
            class="checklist__show-all-btn"
            aria-label="전체 항목 보기"
          >
            Show All
            <svg
              class="checklist__show-all-icon"
              aria-hidden="true"
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.6875 3.38086L5.29395 2.8125L10.3125 7.5L5.29395 12.1875L4.6875 11.6221L9.09668 7.5L4.6875 3.38086Z"
                fill="black"
              />
            </svg>
          </a>
        </div>
      </div>
      <ul class="checklist__list"></ul>
    </section>
  </body>
</html>
