<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./departure-checklist.css" />
  <script type="module" src="./departure-checklist.js"></script>
  <title>출국 전 체크리스트</title>
</head>
<body>
  <section class="checklist">
    <div class="checklist__header">
      <h2 class="checklist__title">출국 전 체크리스트</h2>
      <div class="checklist__show-all">
        <a href="#" class="checklist__show-all-btn" aria-label="전체 항목 보기">
          Show All
          <svg class="checklist__show-all-icon" aria-hidden="true" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.6875 3.38086L5.29395 2.8125L10.3125 7.5L5.29395 12.1875L4.6875 11.6221L9.09668 7.5L4.6875 3.38086Z" fill="black" />
          </svg>
        </a>
      </div>
    </div>
    <ul class="checklist__list">
      <li class="checklist__item">
        <label for="passportCheck-1" class="checklist__label">
          <div class="checklist__badge">
            <svg class="checklist__badge-icon" aria-hidden="true" width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.78843 10.85L0.50038 6.1C0.277726 5.9 0.277726 5.55 0.50038 5.3L1.33533 4.55C1.55799 4.35 1.94763 4.35 2.22595 4.55L6.23374 8.15L15.1399 0.15C15.3626 -0.05 15.7522 -0.05 16.0305 0.15L16.8655 0.9C17.0881 1.1 17.0881 1.45 16.8655 1.7L6.67904 10.85C6.40073 11.05 6.01108 11.05 5.78843 10.85Z" fill="#FF5B55"/>
            </svg>
            <span>필수</span>
          </div>
          <div class="checklist__text-box">
            <strong class="checklist__item-title">여권 확인</strong>
            <p class="checklist__description">유효 기간이 6개월 이상인가요?</p>
          </div>
          <input type="checkbox" id="passportCheck-1" name="passportCheck" aria-label="여권 확인" />
          <span class="schedule__custom-box">
            <svg class="schedule__check-icon" aria-hidden="true" width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.45498 10.85L0.16693 6.1C-0.0557247 5.9 -0.0557247 5.55 0.16693 5.3L1.00188 4.55C1.22454 4.35 1.61418 4.35 1.8925 4.55L5.90028 8.15L14.8065 0.15C15.0291 -0.05 15.4188 -0.05 15.6971 0.15L16.532 0.9C16.7547 1.1 16.7547 1.45 16.532 1.7L6.34559 10.85C6.06728 11.05 5.67763 11.05 5.45498 10.85Z" 
            fill="#fafafa"
              />
            </svg>
          </span>
        </label>
      </li>
      <li class="checklist__item">
        <label for="passportCheck-2" class="checklist__label">
          <div class="checklist__badge">
            <svg class="checklist__badge-icon" aria-hidden="true" width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.78843 10.85L0.50038 6.1C0.277726 5.9 0.277726 5.55 0.50038 5.3L1.33533 4.55C1.55799 4.35 1.94763 4.35 2.22595 4.55L6.23374 8.15L15.1399 0.15C15.3626 -0.05 15.7522 -0.05 16.0305 0.15L16.8655 0.9C17.0881 1.1 17.0881 1.45 16.8655 1.7L6.67904 10.85C6.40073 11.05 6.01108 11.05 5.78843 10.85Z" fill="#FF5B55"/>
            </svg>
            <span>필수</span>
          </div>
          <div class="checklist__text-box">
            <strong class="checklist__item-title">유심 / 로밍</strong>
            <p class="checklist__description">인터넷 사용 방법은 정하셨나요?</p>
          </div>
          <input type="checkbox" id="passportCheck-2" name="passportCheck" aria-label="유심 구매 또는 통신사 로밍하기" />
          <span class="schedule__custom-box">
            <svg class="schedule__check-icon" aria-hidden="true" width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.45498 10.85L0.16693 6.1C-0.0557247 5.9 -0.0557247 5.55 0.16693 5.3L1.00188 4.55C1.22454 4.35 1.61418 4.35 1.8925 4.55L5.90028 8.15L14.8065 0.15C15.0291 -0.05 15.4188 -0.05 15.6971 0.15L16.532 0.9C16.7547 1.1 16.7547 1.45 16.532 1.7L6.34559 10.85C6.06728 11.05 5.67763 11.05 5.45498 10.85Z" 
            fill="#fafafa"
              />
            </svg>
          </span>
        </label>
      </li>
      <li class="checklist__item">
        <label for="passportCheck-3" class="checklist__label">
          <div class="checklist__badge">
            <svg class="checklist__badge-icon" aria-hidden="true" width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.78843 10.85L0.50038 6.1C0.277726 5.9 0.277726 5.55 0.50038 5.3L1.33533 4.55C1.55799 4.35 1.94763 4.35 2.22595 4.55L6.23374 8.15L15.1399 0.15C15.3626 -0.05 15.7522 -0.05 16.0305 0.15L16.8655 0.9C17.0881 1.1 17.0881 1.45 16.8655 1.7L6.67904 10.85C6.40073 11.05 6.01108 11.05 5.78843 10.85Z" fill="#FF5B55"/>
            </svg>
            <span>필수</span>
          </div>
          <div class="checklist__text-box">
            <strong class="checklist__item-title">숙소 예약하기</strong>
            <p class="checklist__description">예약 바우처 할인 적용 확인하셨나요?</p>
          </div>
          <input type="checkbox" id="passportCheck-3" name="passportCheck" aria-label="숙소 예약하기" />
          <span class="schedule__custom-box">
            <svg class="schedule__check-icon" aria-hidden="true" width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.45498 10.85L0.16693 6.1C-0.0557247 5.9 -0.0557247 5.55 0.16693 5.3L1.00188 4.55C1.22454 4.35 1.61418 4.35 1.8925 4.55L5.90028 8.15L14.8065 0.15C15.0291 -0.05 15.4188 -0.05 15.6971 0.15L16.532 0.9C16.7547 1.1 16.7547 1.45 16.532 1.7L6.34559 10.85C6.06728 11.05 5.67763 11.05 5.45498 10.85Z" 
            fill="#fafafa"
              />
            </svg>
          </span>
        </label>
      </li>
    </ul>
  </section>
</body>
</html>