@import url(../../styles/main.css);

body {
  padding: 50px;
}

/* ----------------------------------------- */

.account {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  h3 {
    padding: 15px 0 15px 30px;
    font-size: var(--fontSize22);
  }
}
/* -------------------------------------- */
/*             총 금액 표시 영역             */
/* -------------------------------------- */

.account__show-total--Container {
  border-radius: 10px;
  background-color: var(--blue-200);
  color: var(--white-fa);
}

.account__show--wrapper {
  display: flex;
  position: relative;
  font-size: var(--fontSize18);

  & h4 {
    margin: 1rem;
  }

  & summary {
    margin-top: 1.1rem;
    list-style: none;
    transform: scale(80%);
  }
}

/* 통화 단위 */
.account__change-units--list {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 8rem;
  background-color: var(--white-fa);
  z-index: 9999;

  & li {
    border: 1px solid var(--gray-400);
    color: var(--black-200);

    &:hover,
    &:focus {
      background-color: var(--blue-200);
      color: var(--white-fa);
      font-weight: var(--bold);
    }
  }

  & button {
    padding: 5px 10px;
    transform: translateY(-2px); /* 버튼내 텍스트 미세 조절 */
    font-size: var(--fontSize12);
    font-weight: var(--bold);
  }
}

/* 총 금액 */
.account__total-cost--wrapper {
  display: flex;

  & h4 {
    display: flex;
    margin: 0 1rem 1rem auto;
    font-size: var(--fontSize28);

    & span {
      padding: 0 10px;
      font-size: var(--fontSize22);
      transform: translateY(5px);
    }
  }
}

/* -------------------------------------- */
/*            항목과 금액 등록 영역            */
/* -------------------------------------- */
.account__register--form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.3rem;
}

.account__register--inputs-container {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  gap: 1rem;
  width: 100%;
}

.account__register-cost {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: inherit;

  & label {
    width: 60px;
    text-align: center;
    font-size: var(--fontSize16);
    font-weight: var(--semiBold);
    color: var(--black-200);
  }

  & input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
    color: var(--black-200);

    &::placeholder {
      color: var(--gray-300);
    }
  }
}

.account__register--btns-container {
  align-content: space-around;
  flex-basis: 40%;
  height: inherit;
  padding-left: 3rem;
}

.account__payment-form {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 2rem;
  word-break: keep-all;

  & input[type='radio'] {
    display: none;
  }
  & label {
    display: inline-flex;
    flex-direction: row;
    gap: 2rem;
    border: 1px solid var(--gray-300);
    border-radius: 10px;
    padding: 12px 40px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--blue-200);
      color: var(--white-fa);
    }
  }
}

.account__register--button {
  background-color: var(--blue-200);
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: var(--white-fa);
  font-weight: var(--bold);
  cursor: pointer;
}

/* -------------------------------------- */
/*             금액 항목 테이블               */
/* -------------------------------------- */

.account__output-table {
  width: 100%;
  border: 1px solid var(--gray-300);
  border-radius: 10px;
  margin-top: 1.3rem;
  padding: 18px 40px;
  text-align: center;
  table-layout: fixed;

  & th {
    padding-bottom: 1rem;
  }

  /* 테이블 열간격 비율 */
  & th:nth-child(2),
  & td:nth-child(2) {
    width: 15%;
  }
  & th:nth-child(1),
  & td:nth-child(1),
  & th:nth-child(n+4):nth-child(-n+6),  /* 4~6번 열 th */
  & td:nth-child(n+4):nth-child(-n+6) {
    /* 4~6번 열 td */
    width: 10%;
  }

  /* 항목 (가장 긴 열 간격) */
  & th:nth-child(3),
  & td:nth-child(3) {
    width: 40%;
    padding-left: 1em;
  }

  & td:nth-child(2) {
    color: var(--blue-200);
  }
  & td:nth-child(3) {
    text-align: start;
  }
}
.account__output-body {
  font-weight: var(--semiBold);

  & tr {
    padding: 16px 0;
    text-align: center;
  }

  & input[type='date'] {
    background-color: yellow;
  }

  & input[type='number'] {
    background-color: green;
    color: var(--blue-200);
  }

  & input[type='text'] {
    background-color: orange;
    text-align: center;
  }

  & select {
    padding: 0;
    text-align: center;
    border: 0;
  }

  & button {
    display: inline-flex;
    gap: 0.8rem;
  }
}

/* 반응형 미디어쿼리 */
