body {
  min-inline-size: 375px;
}

.main-layout {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  .suggest-section,
  .schedule,
  .weather-section,
  .exchange-section,
  .checklist,
  .account {
    padding-inline: 15px;
  }

  .main-title {
    display: none;
  }
}

@media (min-width: 576px) {
  .main-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'title title'
      'suggest suggest'
      'schedule schedule '
      'weather exchange '
      'checklist checklist'
      'map map'
      'etiquette etiquette'
      'account account';
    gap: 30px;

    .weather-section {
      padding-inline: 15px 0;
    }
    .exchange-section {
      padding-inline: 0 15px;
    }
  }
  .main-title {
    grid-area: title;
  }

  .suggest-section {
    grid-area: suggest;
  }

  .schedule {
    grid-area: schedule;
  }
  .weather-section {
    grid-area: weather;
  }
  .exchange-section {
    grid-area: exchange;
  }
  .checklist {
    grid-area: checklist;
  }
  .map-section {
    grid-area: map;
  }
  .etiquette {
    grid-area: etiquette;
  }
  .account {
    grid-area: account;
  }
}

@media (min-width: 768px) {
  .main-layout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'title . .'
      'suggest suggest suggest'
      'schedule schedule weather'
      'schedule schedule exchange'
      'checklist checklist checklist'
      'map map map'
      'etiquette etiquette etiquette'
      'account account account';

    .schedule {
      padding-inline: 15px 0;
    }

    .exchange-section,
    .weather-section {
      padding-inline: 0 15px;
    }
  }
  .weather-section {
    align-self: end;
    translate: 0 35px;
  }
  .exchange-section {
    align-self: end;
  }
  h3 {
    font-size: var(--fontSize26);
  }
}

@media (min-width: 1280px) {
  :root {
    background: #302f2f;
    --fontSize36: 2.25rem;
  }
  body {
    display: flex;
    align-content: center;
    align-items: start;
    justify-content: center;

    .page-layout {
      overflow: scroll;
      max-height: 70vh;
      background: var(--white);
      border-radius: 0 15px 15px 0;
      max-width: 60vw;
      translate: 100px 5vw;
    }
    .main-layout {
      padding-inline: 40px;

      .main-title {
        display: block;
        padding: 40px 0 0 15px;
        font-size: var(--fontSize36);
      }
    }
    .nav__wrapper {
      position: fixed;
      top: 5vw;
      left: 20vw;
      translate: calc(100% - 310px) 0;
    }
  }
}
