/* 지워주세요 */
body {
  margin: 50px;
}

/* 에티켓 시작 */

.etiquette {
  width: 100%;
}

.etiquette__title {
  display: inline-flex;

  h3 {
    padding: 15px 0 15px 30px;
    font-size: var(--fontSize22);
  }
}


/* ------------------------------------------------ */
/*                 나라 선별 라벨 선택                  */
/* ------------------------------------------------ */

.etiquette__dropdown-horizontal {
  display: inline-block;
  position: relative;
}

details summary {
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.etiquette__label {
  display: flex;
  align-items: center;
  margin:17px 10px;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: var(--blue-200);
  font-size: var(--fontSize12);
  font-weight: var(--bold);
  color: var(--white-fa);
}

.etiquette__options {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 120%;
  transform: translateY(-50%);
  gap: 6px;
  margin: 0;
  padding: 6px 8px;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  background: var(--white-fa);
  z-index: 1000; 
  white-space: nowrap;

  li {
    list-style: none;
  }

  button {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background: none;
    font-size: var(--fontSize14);
    font-weight: var(--bold);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color : var(--blue-200);
      color: var(--white-fa);
      font-weight: var(--bold);  
    }
  }
}



/* ------------------------------------------------ */
/*                 캐러셀 카드 영역                   */
/* ------------------------------------------------ */

.etiquette__contents {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.etiquette__cards {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-height: 250px;
  min-height: 200px;
  gap: 2rem;
  transition: transform 0.4s ease;
  will-change: transform;
}

.etiquette__card {
  display: grid;
  grid-template-columns: 4.5fr 5.5fr;
  grid-template-rows: 3fr 7fr;
  
  flex: 0 0 100%; /* 유지할것! */
  padding: 1rem;
  height: auto;
  border: 1px solid var(--gray-300);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.etiquette-img {
  grid-row: 1 / span 2;
  height: 100%;
  align-self: center;
  justify-self: center;
  min-width: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  word-break: keep-all;
}

/* 개별 카드 이미지 삽입 */
.etiquette-img.card-01 {
  background-image: url(../../assets/images/etiquette/etiquette-london-1_1x.webp); 
}
.etiquette-img.card-02 {
  background-image: url(../../assets/images/etiquette/etiquette-london-2_1x.webp); 
}
.etiquette-img.card-03 {
  background-image: url(../../assets/images/etiquette/etiquette-london-3_1x.webp); 
}
.etiquette-img.card-04 {
  background-image: url(../../assets/images/etiquette/etiquette-london-4_1x.webp); 
}

.etiquette__cardTxt {
  grid-column: 2 / 3;
  display: contents;
  height: 100%;

  & h4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: var(--fontSize16);
    word-break: keep-all;
  }
}

.etiquette__card-desc {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  padding-top: 1em;;
  text-overflow: ellipsis;
  white-space: pre-line;
  line-height: 1.5;
  max-width: 120px;
  font-size: var(--fontSize12);

}

/* 카드 nav 버튼 */

.etiquette__nav {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: none;
  cursor: pointer;
  z-index: 999;
  box-sizing:border-box; 
  flex-shrink: 0;
  top:35%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (min-width: 768px) {

  .etiquette__card {
    flex: 0 0 calc((100% - 2rem) / 2); /* 꼭 유지! */
  }
  
  .etiquette-img {
    min-width: 100px;
  }
  
  .etiquette__cardTxt  h4 {
    font-size: var(--fontSize24);
  }
  .etiquette__card-desc {
    max-width: 200px;
    font-size: var(--fontSize14);
    

  .prev { left: 20px; }
  .next { right: 20px; }
}
}