<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="./etiquette.css" />
    <title>에티켓</title>
  </head>
  <body>
    <section class="etiquette">
      <div class="etiquette-title">
        <h3>에티켓</h3>
        <span class="etiquette-label">UK</span>
        </div>
      <div class="etiquette-contents">
          <button type="button" class="etiquette-nav btn-prev" aria-label="이전 탐색">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="32" viewBox="0 0 27 32" fill="none">
            <path d="M2.97308e-05 16L27 0.411544L27 31.5885L2.97308e-05 16Z" fill="#D9D9D9" fill-opacity="0.5"/>
            </svg>
          </button>        
          <ul class="etiquette-cards">
            <!-- 카드 01 -->
            <li class="etiquette-card">
            <span class="etiquette-img card-01"></span>
            <div class="etiquette-cardTxt">
              <h4>유머 있게 대화하기</h4>
              <p>영국인은 위트 있는 유머를 즐겨요.

                너무 진지한 분위기보다는 
                편안하게 이야기 하는걸 좋아해요.
                
                다만 사적인 질문은 
                피하는 게 좋아요.</p>
            </div>
            </li>
            <!-- 카드 02 -->
            <li class="etiquette-card">
            <span class="etiquette-img card-02"></span>
            <div class="etiquette-cardTxt">
              <h4>차례 기다리기</h4>
              <p>질서 있는 줄을
                서는 것이 중요합니다.

                줄을 서서 차례를
                참을성 있게 기다리세요.
              </p>
            </div>
            </li>
          </ul>
        <button type="button" class="etiquette-nav btn-nxt" aria-label="다음 탐색">
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="32" viewBox="0 0 27 32" fill="none">
          <path d="M27 16L2.90494e-05 31.5885L3.04122e-05 0.411542L27 16Z" fill="#D9D9D9" fill-opacity="0.5"/>
          </svg>
        </button>
      </div>
    </section> 


  </body>
</html>