@import "./../../styles/main.css";

:root {
  --fontSize11: 11px;
  --fontSize15: 15px;
  --gray668: #f6f6f8;
}

/* 카드 전체 컨테이너 */
.exchange-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
}

.exchange-title {
  padding-block-end: 20px;
}

/* 기본 박스 구조 */
.currency-input-box,
.currency-box {
  display: flex;
  min-width: 309px;
  max-height: 50px;
  border: 1px solid var(--gray-200);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 16px;
}

/* 왼쪽 박스 */
.currency-select {
  display: flex;
  min-width: 108px;
  background-color: var(--gray668);
  padding: 12px;
  align-items: center;
  gap: 8px;
  position: relative;
}

.currency-select select {
  position: absolute;
  inset: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.currency-labels {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.country-name {
  font-size: var(--fontSize11);
  font-weight: var(--semiBold);
}

.currency-code {
  font-size: var(--fontSize11);
  font-weight: var(--semiBold);
  color: var(--black-100);
}

/* 오른쪽 박스 */
.currency-amount {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background: var(--white-fa);
  border-left: 1px solid var(--gray-200);
  padding: 12px;
  text-align: right;
}

.currency-amount input {
  color: var(--black-200);
  font-size: var(--fontSize15);
  font-weight: var(--semiBold);
  background: transparent;
  text-align: right;
  outline: none;
  width: 100%;
}

.unit-text {
  color: var(--gray-500);
  font-size: var(--fontSize12);
  margin-inline-end: 14px;
}

/* 결과 출력 영역 전용 스타일 */
.currency-box.result .currency-select {
  cursor: default;
}

.converted {
  color: var(--black-200);
  font-size: var(--fontSize15);
  font-weight: var(--semiBold);;
  margin-inline-end: 14px;
}
