@import url(../../styles/common/theme.css);

.map-section {
  overflow: hidden;
  color: var(--black-200);
  h3 {
    padding: 15px 0 15px 30px;
    font-size: var(--fontSize22);
  }
  .map-layout {
    position: relative;
  }
}

.map {
  position: relative;

  #map {
    width: 100%;
    height: 80dvh;
  }

  .map__button--search {
    position: absolute;
    top: 15px;
    left: 15px;
    border: none;
    padding: 12px 10px 12px 10px;
    border-radius: 50px;
    background: var(--blue-200);
    font-size: var(--fontSize14);
    color: var(--white);
    font-weight: var(--semiBold);
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    transition: background 0.2s ease-in-out;

    &:hover {
      background: var(--blue-100);
    }

    svg {
      display: inline;
      margin-right: -2px;
    }
  }
  .map__button--control {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    bottom: 15px;
    left: 15px;

    .map__button {
      position: relative;
      inline-size: 40px;
      block-size: 40px;
      border: 1px solid var(--gray-300);
      border-radius: 3px;
      background: var(--white-fa);
      transition: background 0.2s ease-in-out;

      &:hover {
        background: var(--gray-200);
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        scale: 1.2;
      }
    }
  }
}

.map-side__button--toggle {
  position: absolute;
  top: 50%;
  right: -0.5px;
  z-index: 200;
  translate: 0 -50%;
  max-width: 30px;
  padding: 20px 15px 20px 6px;
  border-radius: 5px 0 0 5px;
  background: var(--white);
  transition: background 0.2s ease-in-out;
  transition: translate 0.2s ease-in-out;

  svg {
    translate: 50% 0;
  }

  &:hover {
    background: var(--white-fa);
  }

  &.side-open {
    translate: -70vw -50%;
    svg {
      rotate: 180deg;
    }
  }
}

.map-side {
  overflow-y: scroll;
  position: absolute;
  inset: 0;
  left: 100%;
  width: 70vw;
  background: var(--white);
  transition: translate 0.2s ease-in-out;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &:-webkit-scrollbar {
    display: none;
  }

  &.side-open {
    translate: -100% 0;
  }

  .map__search {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 15px 10px 0;
    background: var(--white);

    .map__search--tab-wrapper {
      display: flex;

      button {
        &:nth-child(1) {
          border-radius: 10px 0 0 10px;
        }
        &:nth-child(2) {
          border-radius: 0 10px 10px 0;
        }
      }
    }

    .map__search--tab {
      padding: 13px 18px;
      width: 100%;
      border: 1px solid var(--gray-300);
      font-size: var(--fontSize14);
      font-weight: 600;
      transition-property: border, background-color, color;
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out;

      &:hover {
        border: 1px solid var(--blue-200);
        color: var(--blue-200);
      }

      &.is-activate {
        border: 1px solid var(--blue-200);
        background-color: var(--blue-200);
        color: #f4f9fe;

        &:hover {
          background: var(--blue-100);
        }
      }
    }

    .map__search-form {
      margin-top: 15px;
      border: 1px solid var(--gray-400);
      border-radius: 10px;
      font-size: var(--fontSize14);
      box-sizing: border-box;
      max-height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .map__search-label {
        flex: 1;
      }

      .map__search-input {
        padding: 12px 0 12px 15px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
      .map__search-button {
        border-radius: 10px;
        padding: 12px 15px;
      }
    }
  }

  .map__search-list {
    /* padding-inline: 10px; */
    /* .is-activate */
    .map__search-list--around,
    .map__search-list--saved {
      display: none;

      &.is-activate {
        display: block;
      }
    }

    ul {
      padding-block-start: 10px;
    }
    .result-item {
      display: flex;
      padding-block: 10px;
    }
    .map__search-list--saved-button {
      padding-inline: 10px;
      border-radius: 10px;
      &.is-saved {
        path {
          fill: var(--blue-200);
        }
      }
    }
    .place-result {
      width: 100%;
      border-radius: 10px;
    }
    figure {
      display: flex;
      gap: 5px;
    }
    picture {
      flex-shrink: 0;
      border-radius: 5px;
      overflow: hidden;
    }
    figcaption {
      flex-shrink: 1;
      font-size: var(--fontSize12);
      max-width: 150px;

      @media (min-width: 500px) {
        max-width: 250px;
      }
    }
    h5 {
      font-size: var(--fontSize14);
    }
    p {
      margin-block: -2px -3px;
    }
    span {
      margin-top: -1px;
    }
    .result-overflow {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .non-saved-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      font-size: var(--fontSize14);
      font-weight: var(--semiBold);
      color: var(--gray-500);

      svg {
        scale: 2;
      }
      span {
        translate: 0 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .map-section {
    --fontSize32: 32px;
    h3 {
      padding: 10px 0;
      font-size: var(--fontSize32);
    }
  }

  .map {
    #map {
      height: 60vw;
      border-radius: 10px;
    }

    .map__button--search {
      top: 25px;
      left: 20px;

      svg {
        margin-right: 5px;
      }
    }
    .map__button--control {
      flex-direction: row;
      .map__button {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }

  .map-side__button--toggle {
    &.side-open {
      translate: -40vw -50%;
    }
  }

  .map-side {
    width: 40vw;
    border-radius: 0 10px 10px 0;

    .map__search {
      padding: 15px 15px 0;
    }

    .map__search-list {
      figure {
        gap: 10px;
      }
      picture {
        flex-shrink: 0;
      }
      figcaption {
        max-width: 180px;

        @media (min-width: 900px) {
          max-width: 250px;
        }
      }
      h5 {
        font-size: var(--fontSize14);
      }
    }
  }
}

@media (min-width: 1280px) {
  .map-section {
    overflow: hidden;
    max-width: 900px;
  }
  .map {
    #map {
      max-height: 550px;
    }
  }

  .map-side__button--toggle {
    &.side-open {
      translate: -450px -50%;
    }
  }

  .map-side {
    width: 450px;

    .map__search-list {
      figure {
        width: 100%;
      }

      figcaption {
        width: 280px;
      }
    }
  }
}
